@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');
:root {
  --main-dark: #aa8563;
  --main-light: #bd9f82;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: rgb(212, 212, 212);
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;
  background-color: var(--main-dark);
}
h1 {
  font-size: 40px;
}
h3 {
  font-size: 24px;
}
.book-form {
  background-color: var(--main-light);
}
.book-form h3,
.cards-container h3 {
  text-align: center;
  padding: 20px 0;
}
form,
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 24px;
  padding: 20px;
}
.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.input-field label {
  font-size: 18px;
}
.input-field input {
  font-size: 18px;
  padding: 3px 6px;
  outline: none;
  border: 2px solid var(--main-dark);
  border-radius: 10px;
}
select {
  padding: 3px 6px;
  font-size: 16px;
  outline: none;
  border: 2px solid var(--main-dark);
  border-radius: 10px;
}
.form-btn-div {
  grid-column: 1/-1;
}
.add-form-btn,
.edit-form-btn,
.edit-btn,
.remove-btn {
  background-color: rgb(212, 212, 212);
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 10px;
  border: 3px solid var(--main-dark);
  transition: 0.3s ease-in-out;
}
.add-form-btn:active,
.edit-form-btn:active,
.edit-btn:active,
.remove-btn:active {
  position: relative;
  top: 3px;
}
.add-form-btn:hover,
.edit-form-btn:hover,
.edit-btn:hover,
.remove-btn:hover {
  scale: 1.1;
}
.cards-container {
  background-color: rgb(212, 212, 212);
}
.book-card {
  width: 90%;
  max-width: 400px;
  background-color: var(--main-light);
  padding: 20px;
  color: #fff;
  border: 2px solid var(--main-dark);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(141, 141, 141, 0.62);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding: 16px 0;
}
.book-btns {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.edit-btn {
  background-color: rgb(98, 98, 236);
}
.remove-btn {
  background-color: rgb(236, 122, 122);
}
@media (max-width: 300px) {
  .input-field input,
  .book-card {
    max-width: 80%;
  }
}
